$main-color: #fb570b;
$sub-color: #fc8f05;
$gray-color: #c3c7cf;
$black-color: rgba(0, 0, 0, 0.326);
$dark-black: hsla(0, 0%, 0%, 0.772);
$light-black: hsla(0, 0%, 0%, 0.559);
.title {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  .titleFirst {
    color: $main-color;
  }
}
.Nav-title {
  padding-bottom: 40px;
  width: 80%;
  margin: 0 auto;
}
.title {
  width: 70% !important;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  .titleFirst {
    color: $main-color;
  }
}
.tableFrames {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  padding-bottom: 60px;
  .tableLeft {
    width: 20%;
    display: flex;
    ul {
      align-self: flex-start;
      list-style: none;
      padding: 0px;
      li {
        padding: 10px;
        margin-bottom: 40px;
        .btnLink {
          padding: 15px 20px;
          text-decoration: none;
          border-radius: 10px;
          font-weight: bold;
          font-size: 20px;
          color: hsla(0, 0%, 0%, 0.74);
        }
        .btnHover {
          background-color: white;
          &:hover {
            background-color: $sub-color;
          }
        }
        .btnOrder {
          background-color: $sub-color;
        }
      }
    }
  }
  .tableRight {
    width: 80%;
    .accordionChange {
      margin-bottom: 50px;
      .btnLook {
        background-color: white;
        border: 2px solid $main-color;
        color: $main-color;
        margin-left: 20px;
        border-radius: 0;
        display: flex;
        .btnWord {
          margin: 0;
          align-self: center;
          font-weight: bold;
        }
        &:hover {
          color: white;
          background-color: hwb(34 24% 2%);
          border: 1px solid hwb(34 24% 2%);
          
        }
      }
      
      .sellerInfo {
        width: 100%;
        height: 60px;
        background-color: #c3c7cf;
        padding: 10px;
        h2 {
          color: white;
          text-align: left;
          font-weight: bold;
        }
      }
      .subtotal {
        display: flex;
        justify-content: end;
        margin: 0;
        padding: 30px;
        ul {
          width: 400px;
          font-size: 20px;
          list-style-type: none;
          li {
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            color: $light-black;
          }
        }
      }
      .Coupon {
        border-bottom: 1px solid $black-color;
        font-size: 20px;
        .couponSticker {
          padding: 10px 15px;
          text-align: center;
          background-color: $main-color;
          color: white;
          font-weight: bold;
        }
      }
    }  
  }
}
.underBoxDetail {
  width: 100%;
  height: fit-content;
  border: 2px solid $gray-color;
  .FirstBox,
  .SecondBox {
    display: flex;
    width: 100%;
    .boxes {
      width: 50%;
    }
  }
  .orderInfo {
    font-size: 23px;
    font-weight: bold;
    margin-left: 20px;

  }
  .contentInfo {
    line-height: 25px;
    padding-left: 20px;
    font-size: 20px;
    width: 100%;
    padding-bottom: 30px;
    .sevenEleven {
      width: 160px;
      height: 40px;
      background-color: black;
      padding: 0;
      border-radius: 10px;
      color: white;
    }
  }
}
.comments {
  margin-top: 30px;
  width: 100%;
  background-color: hwb(224 77% 19% / 0.16);
  padding-bottom: 20px;
  .commentsTitle {
      font-weight: bold;
      padding: 20px;
      margin: 0;
  }
  .commentsStars {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    .commentsLeft {
      display: flex;
      .commentsRate {
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
      }
      .stars {
        display: flex;
        align-items: center;
        .star {
            font-size: 30px;
            color: $sub-color;
        }
      }
    }
    .btnGroup {
      .tag {
        display: flex;
        margin-bottom: 20px;
        .good {
          align-self: flex-end;
          font-weight: bold;
          color: white;
          margin: 4px;
          align-items: center;
          font-size: 15px;
          padding: 3px 8px;
          height: 30px;
          &:hover {
            border-color: $sub-color;
            background-color: $sub-color;
          }
        }  
      }
    }
  }
  .commentsStar {
    display: flex;
    padding-left: 20px;
    .commentsRateSecond {
      font-size: 18px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
  
  .textField {
      padding: 20px;
      padding-top: 0px !important;
  }
  .textFieldFinish{
      padding: 40px;
  }
  .btnSubmit {
      margin-left: 10px;
      padding: 8px 11px;
      text-align: center;
      background-color: $sub-color;
      color: white;
      font-weight: bold;
      font-size: 20px;
      width: 120px;
      border-color: $sub-color;
      border-radius: 15px;
      &:hover {
        border-color: hsl(34, 99%, 53%);
          background-color: hsl(34, 99%, 53%);
          color: white;
      }
  }
}
.tableDetail {
  width: 100%;
  th {
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.482);
    text-align: center;
    font-size: 20px;
  }
  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.326);
    font-size: 20px;
    td {
      text-align: center;
      font-size: 20px;
      width: 20%;
    }
    .productsInfo {
      width: 40%;
      text-align: start !important;
      .imageWords {
        height: 150px;
        width: 100%;
      }
      
    }
  }
}
@media screen and (min-width: 430px) and (max-width: 650px) {
  .tableFrames {
    width: 90% !important;
    display: block !important;
    .tableLeft {
      width: 100% !important;
      ul {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        li {
          .btnLink {
            padding: 5px 9px !important;
            font-size: 18px !important;
            background-color: white !important;
            &:hover {
              background-color: $sub-color !important;
            }
            .btnClick {
              background-color: $sub-color !important;
            }
          }
        }
      }
    }
    .tableRight {
      width: 100% !important;
    }
    table {
      th {
        font-size: 13px !important;
      }
      tr{
        td {
          font-size: 13px !important;
          .imageWords {
            height: 70px !important;
            width: 60%;
          }
        }
        
      }
      .productNone {
        display: none;
      }
    }
    .Coupon {
      font-size: 13px !important;
      .usedCoupon {
        font-size: 16px !important;
      }
      .couponSticker {
        padding: 10px 15px;
        text-align: center;
        background-color: $main-color;
        color: white;
        font-weight: bold;
      }
    }
    .subtotal {
      display: block !important;
      padding: 10px !important;
      ul {
        padding: 0;
        margin: 0;
        width: 100% !important;
        font-size: 13px !important;
        li {
          width: 100% !important;
          padding: 6px !important;
        }
      }
    }
    .underBoxDetail {
      height: fit-content !important;
      padding-bottom: 20px;
      .FirstBox,
      .SecondBox {
        display: block;
        width: 100%;
        .boxes {
          width: 100%;
        }
      }
      .orderInfo {
        font-size: 16px;
        padding: 15px !important;
        margin: 0 !important;
      }
      .contentInfo {
        line-height: 15px;
        padding-right: 15px !important;
        font-size: 15px;
        padding-bottom: 0;
        .content {
          justify-content: space-between;
          .contentInside {
            line-height: 15px !important;
          }
          .contentPay {
            display: flex;
          }
        }
        .sevenEleven {
          width: 100px;
          height: 40px;
          background-color: black;
          padding: 0;
          border-radius: 10px;
          color: white;
        }
      }
    }
    .comments {
      width: 100%;
      .tag {
        .good {
          font-weight: bold;
          color: white;
          margin: 2px !important;
          align-items: center;
          font-size: 8px !important;
        }
      }
      .commentsStars {
        .commentsLeft {
          display: block;
          .stars {
            display: flex;
            align-items: center;
            .star {
                color: $sub-color;
            }
          }
          .commentsRate {
            font-size: 18px;
            padding-left: 0;
          }
        }
      }
      .btnSubmit {
          font-size: 15px;
          width: 80px;
      }
    }
  }
}
@media screen and (min-width: 651px) and (max-width: 900px) {
  .tableFrames {
    display: block !important;
    .tableLeft {
      width: 100% !important;
      ul {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(4, 1fr) !important;
        li {
          .btnLink {
            padding: 5px 9px !important;
            font-size: 18px !important;
            background-color: white !important;
            &:hover {
              background-color: $sub-color !important;
            }
            .btnClick {
              background-color: $sub-color !important;
            }
          }
        }
      }
    }
    .tableRight {
      width: 100% !important;
    }
    table {
      th {
        font-size: 17px !important;
      }
      tr{
        td {
          font-size: 17px !important;
          .imageWords {
            height: 70px !important;
            width: 60%;
          }
        }
        
      }
      .productNone {
        display: none;
      }
    }
    .Coupon {
      font-size: 17px !important;
      .usedCoupon {
        font-size: 16px !important;
      }
      .couponSticker {
        padding: 10px 15px;
        text-align: center;
        background-color: $main-color;
        color: white;
        font-weight: bold;
      }
    }
    .subtotal {
      display: block !important;
      padding: 10px !important;
      ul {
        padding: 0;
        margin: 0;
        width: 100% !important;
        font-size: 16px !important;
        li {
          width: 100% !important;
          padding: 6px !important;
        }
      }
    }
    .underBoxDetail {
      height: fit-content !important;
      padding-bottom: 20px;
      .FirstBox,
      .SecondBox {
        display: block;
        width: 100%;
        .boxes {
          width: 100%;
        }
      }
      .orderInfo {
        font-size: 20px;
        padding: 15px !important;
        margin: 0 !important;
      }
      .contentInfo {
        line-height: 22px;
        padding-right: 15px !important;
        font-size: 17px;
        padding-bottom: 0;
        .content {
          justify-content: space-between;
          .contentInside {
            line-height: 15px !important;
          }
          .contentPay {
            display: flex;
          }
        }
        .sevenEleven {
          width: 130px;
          height: 40px;
          background-color: black;
          padding: 0;
          border-radius: 10px;
          color: white;
          &:hover {
            background-color: #000000cc;
          }
        }
      }
    }
    .commentsStars {
      .commentsLeft {
        display: block;
        .stars {
          display: flex;
          align-items: center;
          .star {
              color: $sub-color;
          }
        }
        .commentsRate {
          font-size: 18px;
          padding-left: 0;
        }
      }
    }
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .tableFrames {
    table {
      th {
        font-size: 17px !important;
      }
      tr{
        td {
          font-size: 17px !important;
          .imageWords {
            height: 70px !important;
            width: 60%;
          }
        }
        
      }
      .productNone {
        display: none;
      }
    }
    .Coupon {
      font-size: 17px !important;
      .usedCoupon {
        font-size: 16px !important;
      }
      .couponSticker {
        padding: 10px 15px;
        text-align: center;
        background-color: $main-color;
        color: white;
        font-weight: bold;
      }
    }
    .subtotal {
      padding: 10px !important;
      ul {
        font-size: 16px !important;
      }
    }
    .underBoxDetail {
      .orderInfo {
        font-size: 18px !important;
      }
      .contentInfo {
        font-size: 16px !important;
        .sevenEleven {
          width: 140px;
        }
      }
    }
    .commentsStars {
      .commentsLeft {
        display: block;
        .stars {
          display: flex;
          align-items: center;
          .star {
              color: $sub-color;
          }
        }
        .commentsRate {
          font-size: 18px;
          padding-left: 0;
        }
      }
    }
  }
}
