$main-color: #FB570B;
$sub-color: #FC8F05;
$gray-color: #C3C7CF;
$dark-black: hsla(0, 0%, 0%, 0.772);
$light-black: hsla(0, 0%, 0%, 0.559);
$black-color: rgba(0, 0, 0, 0.326);
.btnGroup {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 7px;
    .btnFirst {
        padding: 5px;
        font-size: 15px;
        border-radius: 10px;
        border: 1px solid $sub-color;
        background-color: $sub-color;
        font-weight: bold;
        color: white;
        &:hover{  
            background-color:hwb(34 9% 0%);
        }
    }
    .btnSecond {
        padding: 5px;
        font-size: 10px;
        border-radius: 0;
        border: 1px solid $gray-color;
        background-color: $gray-color;
        font-weight: bold;
        color: white;
        &:hover{  
            background-color:hsl(222, 8%, 74%);
        }
    }
}
.inputs {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 30px;
    .inputGroup {
      display: flex;
      width: 380px;

      .inputSearch {
        width: 300px;
        border-radius: 5px 0 0 5px;
      }
      .btnSearch {
        border-radius: 0 5px 5px 0;
        width: 80px;
        height: 40px;
        font-weight: bold;
        color: white;
        background-color: $main-color;
        &:hover {
          background-color: hsl(19, 91%, 50%);
          color: white;
        }
      }
    }
  }
.tableSeller {
    width: 100%;
    table-layout: fixed;
        .tableHead {
            width: 100%;
            tr {
                border-bottom: 1px solid rgba(0, 0, 0, 0.326);
                font-size: 20px !important;
                th {
                    color: black;
                    font-weight: bold;
                    padding: 10px 15px;
                    border-bottom: 3px solid rgba(0, 0, 0, 0.482);
                    text-align: center;
                    font-size: 20px;
                }
            }
        }
        .tableBodySeller {
            td{
                text-align: center;
                color: rgba(0, 0, 0, 0.482);
                font-weight: bold;
                font-size: 20px;
                padding: 15px 5px;
                .buttonDetail {
                    background: $sub-color;
                    border: 1px solid $sub-color;
                    color: white;
                    font-weight: bold;
                    padding: 10px 20px;
                    &:hover {
                        background: hsl(34, 95%, 59%);
                        border: 1px solid hsl(34, 95%, 59%);
                    }
                }
            } 
        }
}
.custoInfo {
    width: 100%;
    height: 60px;
    background-color: #c3c7cf63;
    padding: 10px;
    h2 {
        color: $dark-black;
        text-align: left;
        font-weight: bold;
    }
}
.sellerTableBody {
    .imageWords {
    margin-left: 20px;
    }
}
.subtotal {
    display: flex;
    justify-content: end;
    margin: 0;
    ul {
        width: 400px;
        font-size: 20px;
        font-weight: bold;
        list-style-type: none;
        color: $light-black;
        li {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        } 
    }
}
.Coupon {
    border-bottom: 1px solid rgba(0, 0, 0, 0.326);
    font-size: 20px;
    color: $light-black;
    font-weight: bold;
    .couponSticker {
        padding: 10px 15px;
        text-align: center;
        background-color: $main-color;
        color: white;
        font-weight: bold;
    }
}
.underBoxSellersDetail {
    width: 100%;
    height: fit-content;
    border: 2px solid $gray-color;
    .FirstBox {
        display: flex;
        width: 100%;
        .btnDeli {
            width: 150px;
            height: 45px;
            margin-left: 20px;
            background-color: white;
            border: 2px solid $main-color;
            color: $main-color;
        }
        .boxes {
            width: 50%;
        }
        .btnBuyers {
          background-color: $main-color;
          font-weight: bold;
          color: white;
          &:hover {
            background: hsl(19, 99%, 57%);
          }
        }
    }
    .orderInfo {
        font-size: 25px;
        font-weight: bold;
        margin-left: 20px;
    }
    .contentInfo, p {
        line-height: 25px;
        margin-left: 20px;
        font-size: 20px;
        width: 100%;
        padding-bottom: 30px;
        .sevenEleven {
            width: 160px;
            height: 40px;
            font-weight: bold;
            background-color: black;
            padding: 0;
            border-radius: 10px;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            &:hover {
              background-color: #000000cc;
            }
        }
        input {
            margin: 5px 10px;
            height: 40px;
        }
    }
}
.btnGroup {
    .btnClose {
        color: white;
        padding: 10px 15px;
        margin-right: 10px;
    }
}
.underSecondBox{
    width: 100%;
    border: 2px solid $gray-color;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    .commentsTitle{
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bolder;
    }
}
.paginationUl {
    margin-top: 30px;
    list-style: none;
    display: flex;
    justify-content: end;
    align-content: center;
}
.tableDetail {
    th {
        color: $dark-black;
        font-size: 20px;
    }
    td {
        color: $light-black;
        font-size: 20px;
    }
    .productInfo {
        width: 40%;
        text-align: start !important;
        .imageWords {
          height: 150px;
          width: 100%;
        }
        
    }

}
@media screen and (min-width: 430px) and (max-width: 678px) {
    .btnGroup {
        width: 100%;
        grid-column-gap: 3px;
        .btnFirst {
            padding: 1px;
            font-size: 8px;
        }
        .btnSecond {
            padding: 1px;
            font-size: 8px;
        }
    }
    .inputs {
        justify-content: center !important;
        .inputGroup {
          width: 330px !important;
          .inputSearch {
            width: 80% !important;
            font-size: 10px;
          }
          .btnSearch {
            font-size: 10px;
            width: 20% !important;
            height: 40px;
          }
        }
    }
    .tableHead {
        tr {
            th {
                font-size: 10px !important;
            } 
            .tableHide {
                display: none;
            }
        }
    }
    .tableBodySeller {
      tr {
        td {
          font-size: 13px !important;
          padding: 10px 3px !important;
          .buttonDetail {
              background: $sub-color;
              border: 1px solid $sub-color;
              color: white;
              font-weight: bold;
              font-size: 13px !important;
              padding: 4px 6px !important;
          }
      }
      .tableHide {
          display: none !important;
      }
      }
        
    }
    .paginationUl {
        justify-content: center !important;
    }
    .custoInfo {
        margin-bottom: 15px;
    }
    .tableDetail {
        th {
          font-size: 17px !important;
        }
        tr{
          td {
            font-size: 17px !important;
            .imageWords {
              height: 70px !important;
              width: 60%;
            }
          }
          
        }
        .productNone {
          display: none;
        }
    }
    .Coupon {
    font-size: 17px !important;
    .couponSticker {
        padding: 10px 10px;
        font-weight: bold;
        font-size: 10px;
    }
    }
    .subtotal {
    display: block !important;
    padding: 10px !important;
    ul {
        padding: 0;
        margin: 0;
        width: 100% !important;
        font-size: 16px !important;
        li {
        width: 100% !important;
        padding: 6px !important;
        }
    }
    }
    .underBoxSellersDetail {
        height: fit-content !important;
        padding-bottom: 20px;
        .FirstBox{
          display: block;
          width: 100%;
          .btnDeli {
            font-size: 10px;
            width: 120px;
            height: 35px;
            margin-left: 20px;
            background-color: white;
            border: 2px solid $main-color;
            color: $main-color;
        }
          .boxes {
            width: 100%;
          }
        }
        .orderInfo {
          font-size: 16px;
          padding: 15px !important;
          margin: 0 !important;
        }
        .contentInfo {
          line-height: 15px;
          padding-right: 40px !important;
          font-size: 15px;
          padding-bottom: 0;
          .content {
            justify-content: space-between;
            .contentInside {
              line-height: 15px !important;
            }
            .contentPay {
              display: flex;
            }
          }
          .completedOutside {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
            .btnComplete {
                font-size: 10px;
              }
          }
          
        }
      }
}
@media screen and (min-width: 678px) and (max-width: 1000px) {
    .btnGroup {
        width: 60%;
        grid-column-gap: 3px;
        .btnFirst {
            padding: 10px 5px;
            font-size: 10px;
        }
        .btnSecond {
            padding: 5px !important;
            font-size: 10px;
        }
    }
    .inputs {
        justify-content: end !important;
        .inputGroup {
          width: 380px !important;
          .inputSearch {
            width: 80% !important;
            font-size: 10px;
          }
          .btnSearch {
            font-size: 10px;
            width: 20% !important;
            height: 40px;
          }
        }
    }
    .tableHead {
        tr {
            th {
                font-size: 15px !important;
            }
            .tableHide {
                display: none !important;
            }
        }
    }
    .tableBodySeller {
        td {
            font-size: 15px !important;
            padding: 10px 3px !important;
            .buttonDetail {
                background: $sub-color;
                border: 1px solid $sub-color;
                color: white;
                font-weight: bold;
                font-size: 10px !important;
                padding: 5px 7px;
            }
        }
        .tableHide {
            display: none !important;
        }
    
    }
    .tableDetail {
        th {
          font-size: 17px !important;
        }
        tr{
          td {
            font-size: 17px !important;
            .imageWords {
              height: 70px !important;
              width: 60%;
            }
          }
          
        }
        .productNone {
          display: none;
        }
    }
    .Coupon {
        font-size: 15px !important;
        .couponSticker {
            padding: 10px 10px;
            font-weight: bold;
            font-size: 10px;
        }
    }
    .subtotal {
        display: block !important;
        padding: 10px !important;
        ul {
            padding: 0;
            margin: 0;
            width: 100% !important;
            font-size: 16px !important;
            li {
            width: 100% !important;
            padding: 6px !important;
            }
        }
    }
    .paginationUl {
        justify-content: center !important;
    }
    .underBoxSellersDetail {
        height: fit-content !important;
        padding-bottom: 20px;
        .FirstBox{
          display: block;
          width: 100%;
          .btnDeli {
            font-size: 10px;
            width: 120px;
            height: 35px;
            margin-left: 20px;
            background-color: white;
            border: 2px solid $main-color;
            color: $main-color;
        }
          .boxes {
            width: 100%;
          }
        }
        .orderInfo {
          font-size: 16px;
          padding: 15px !important;
          margin: 0 !important;
        }
        .contentInfo {
          line-height: 15px;
          padding-right: 40px !important;
          font-size: 15px;
          padding-bottom: 0;
          .content {
            justify-content: space-between;
            .contentInside {
              line-height: 15px !important;
            }
            .contentPay {
              display: flex;
            }
          }
          .completedOutside {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
            .btnComplete {
                font-size: 10px;
              }
          }
          
        }
      }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .btnGroup {
        width: 400px;
    }
    .inputs {
        justify-content: end !important;
        .inputGroup {
          width: 380px !important;
          .inputSearch {
            width: 80% !important;
            font-size: 13px;
          }
          .btnSearch {
            font-size: 13px;
            width: 20% !important;
            height: 40px;
          }
        }
    }
    .tableHead {
        tr {
            th {
                font-size: 15px !important;
            }
        }
    }
    .tableBodySeller {
        td {
            font-size: 15px !important;
            padding: 10px 3px !important;
            .buttonDetail {
                background: $sub-color;
                border: 1px solid $sub-color;
                color: white;
                font-weight: bold;
                font-size:15px !important;
                padding: 5px 7px;
            }
        }
    }
     
    .tableDetail {
        tr {
            th {
                font-size: 15px !important;
            } td {
                font-size: 15px !important;
                padding: 10px 3px !important;
                .buttonDetail {
                    background: $sub-color;
                    border: 1px solid $sub-color;
                    color: white;
                    font-weight: bold;
                    font-size: 10px !important;
                    padding: 5px 7px;
                }
            }
        }
    }
    .Coupon {
        font-size: 15px !important;
        .couponSticker {
            padding: 10px 10px;
            font-weight: bold;
            font-size: 10px;
        }
    }
    .subtotal {
        display: block !important;
        padding: 10px !important;
        ul {
            padding: 0;
            margin: 0;
            width: 100% !important;
            font-size: 16px !important;
            li {
            width: 100% !important;
            padding: 6px !important;
            }
        }
    }
    .underBoxSellersDetail {
        height: fit-content !important;
        padding-bottom: 20px;
        .FirstBox{
          display: block;
          width: 100%;
          .btnDeli {
            font-size: 10px;
            width: 120px;
            height: 35px;
            margin-left: 20px;
            background-color: white;
            border: 2px solid $main-color;
            color: $main-color;
        }
          .boxes {
            width: 100%;
          }
        }
        .orderInfo {
          font-size: 22px;
          padding: 15px !important;
          margin: 0 !important;
        }
        .contentInfo {
          line-height: 20px;
          padding-right: 40px !important;
          font-size: 19px;
          padding-bottom: 0;
          .content {
            justify-content: space-between;
            .contentInside {
              line-height: 15px !important;
            }
            .contentPay {
              display: flex;
            }
          }
          .completedOutside {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
            .btnComplete {
                font-size: 10px;
              }
          }
          
        }
      }
    .paginationUl {
        justify-content: flex-end !important;
    }
}