$orange1: #fb570b;
$orange2: #fc8f05;

.signIn {
  width: 40%;
  height: fit-content;
  margin: 3rem auto;
  font-size: 20px;
  border:3px solid hwb(0 0% 100% / 0.098);

  .signIn_title {
    text-align: center;
    h2 {
      font-weight: bold;
      padding: 30px;
      span {
        color: $orange1;
      }
    }
  }

  .signIn_container {
    font-weight: bold;
    .formGroup {
      width: 90%;
      margin: 0 auto;
    }
    .formCheck {
      margin-left: 30px;
      margin-top: 20px;
    }

    .form-control {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
    }

    .signIn_wrapper {
      text-align: center;
      // padding: 10px;
      // margin: 10px;
      button {
        width: 100%;
        padding: 10px;
        margin: 5px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        color: white;
      }
      .btn-SignIn {
        background-color: $orange1;
        width: 90%;
        margin: 20px auto;
        margin-bottom: 30px;
        &:hover {
          background-color: hsl(19, 97%, 58%);
        }
      }
      .btn-FB {
        display: flex;
        justify-content: center;
        background-color: #3b5998;
        width: 90%;
        margin-bottom: 10px;
        margin: 0 auto;
        &:hover {
          background-color: hsl(221, 45%, 38%);
        }
      }
      .btn-Google {
        display: flex;
        justify-content: center;
        background-color: #ff5050;
        width: 90%;
        margin: 10px auto;
        margin: 0 auto;
        &:hover {
          background-color: hsl(0, 71%, 57%);
        }
      }
      .signIn_wrap {
        margin: 10px;
        padding-bottom: 20px;
        a {
          color: #000000;
          text-decoration: none;
          &:hover {
            color: #fb570b;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 430px) and (max-width: 650px) {
  .signIn {
    width: 90%;
  }
}
@media screen and (min-width: 650px) and (max-width: 960px) {
  .signIn {
    width: 70%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1200px) {
  .signIn {
    width: 60%;
  }
}

