header {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
  max-height: 100px;
  position: sticky;
  top: 0;
  transition: top 0.4s ease-out;
  z-index: 999;

  .logo {

    a {
      padding: 10px 10px;
      display: flex;
      font-size: 48pt;
      font-weight: bolder;
      padding: "0px 25px";
      color: white;
      cursor: pointer;
      text-decoration: none;

      div {
        background: -webkit-linear-gradient(
            left,
            #FC8F05,
            #FB570B,
            hsl(0, 100%, 50%),
            #FB570B,
            #FC8F05,

          )
          0 0 no-repeat;
        background-size: 300px;
        background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.418);
        animation: shine 2s infinite;
      }
    }

    @keyframes shine {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 100% 100%;
      }
    }
  }
  justify-content: space-between;

  nav {
    display: flex;

    ul {
      list-style-type: none;
      display: flex;
      letter-spacing: 0.1rem;
      li {
        margin-left: 4rem;
        font-weight: bold;
        font-size: 1.75rem;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-x: right;

        transition: background-size 300ms;

        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: white;
            // text-shadow: 0 0 10px #FC8F05,0 0 20px #FC8F05,0 0 30px #FC8F05;
            text-shadow: 0 0 10px #FC8F05,0 0 20px #FC8F05;
          }
        }

        &:hover {
          background-size: 100% 100%;
          background-position-x: left;
        }
      }
    }
  }

  .icon-groups {
    display: flex;
    a {
      display: flex;
      align-items: center;
      svg {
        display: block;
        padding: 5px 0px 0px 0px;
        color: #fb570b;
        width: 30px;
        height: 30px;
        margin-left: 20px;
        &:hover {
          color: hsl(19, 100%, 61%);
        }
      }
      
    }

    .login {
      padding: 6px 45px;
      background-color: #fb570b;
      border-radius: 20px;
      margin-left: 30px;
      margin-right: 30px;
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      display: block;

      & span::after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        right: 0px;
        transition: 0.5s;
        color: black;
      }

      &:hover {
        background-color: #feac44;
      }

      &:hover span {
        color: black;
        position: relative;
        padding-right: 18px;
      }

      &:hover span::after {
        opacity: 1;
        right: 0;
      }
    }

    .menu {
      display: none;
    }
  }
}

header.active {
  top: -200px;
  transition: top 0.4s ease-out;
}

div .search-group {
  display: none;
}

div .search-group.active {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  input.search-input {
    width: 60vh;
    height: 2.15rem;
    margin-bottom: 0.5rem;

    &:focus {
      z-index: 3;
    }
  }

  a.search-inputButton {
    height: 2.15rem;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 22px;
    background-color: #fb570b;
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
    margin-top: 0.9px;
    margin-bottom: 0.5rem;
  }
}

div .navigation-menu {
  display: none;
}

div .navigation-menu.active {
  display: none;
}

@media screen and (max-width: 1250px) {
  header {
    .logo {
      display: flex;
      font-size: 40pt;
      font-weight: bolder;
      padding: "0px 25px";
      color: white;

      div {
        color: #fb570b;
      }
    }

    nav {
      display: flex;
      ul {
        list-style-type: none;
        display: flex;
        letter-spacing: 0.1rem;
        li {
          margin-left: 3rem;
          font-weight: bold;
          font-size: 1.3rem;
        }
      }
    }

    .icon-groups {
      .login {
        font-size: 1.45rem;
        padding: 4px 25px;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  header {
    width: 100%;
    nav {
      ul {
        li {
          display: none;
        }
      }
    }

    .icon-groups {
      display: flex;
      a {
        svg {
          display: block;
          padding: 5px 0px 0px 0px;
          color: #fb570b;
          width: 30px;
          height: 30px;
          margin-left: 20px;
        }
      }

      .login {
        display: none;
      }

      .menu {
        display: block;
      }
    }
  }

  div .navigation-menu.active {
    display: flex;
    background-color: black;

    ul {
      list-style-type: none;
      width: 100%;
      font-size: 2rem;
      font-weight: bold;

      li {
        margin-top: 10px;
        text-align: center;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
