.formInput {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 10px;

    input {
        padding: 10px;
        margin: 10px 0px;
        border-radius: 5px;
        border: 2px solid hsla(19, 97%, 51%, 0.452);
        caret-color: #feac44;
        width: 100%;

        &:invalid[focused="true"] {
            border: 2px solid #fc8f05;
        }

        &:invalid[focused="true"] ~ span {
            display: block;
        }
    }

    label {
        font-family: "Monda", sans-serif;
        font-size: 20px;
        color: black;
    }

    span {
        font-size: 12px;
        padding: 3px;
        color: red;
        display: none;
    }
}

