.title {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}
.title .titleFirst {
  color: #fb570b;
}

.Nav-title {
  padding-bottom: 40px;
  width: 80%;
  margin: 0 auto;
}

.titleCoupon {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}
.titleCoupon .titleContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleCoupon .titleContent h2 {
  text-align: center;
}
.titleCoupon .titleContent .titleFirst {
  color: #fb570b;
}

.tableFrame {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  padding-bottom: 60px;
}
.tableFrame .tableLeft ul {
  list-style: none;
  padding: 0px;
}
.tableFrame .tableLeft ul li {
  padding: 10px;
}
.tableFrame .tableLeft ul li button {
  margin-bottom: 10px;
  width: 125px;
  border-radius: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: hsla(0deg, 0%, 0%, 0.74);
  font-size: 20px;
}
.tableFrame .tableLeft ul li .btnHover {
  background-color: white;
}
.tableFrame .tableLeft ul li .btnHover:hover {
  background-color: #fc8f05;
}
.tableFrame .tableLeft ul li .btnOrder {
  background-color: #fc8f05;
}
.tableFrame .tableRight {
  width: 80%;
}
.tableFrame .tableRight .unExpired {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid rgba(0, 0, 0, 0.4509803922);
}
.tableFrame .tableRight .unExpired .unExpiredWord {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}
.tableFrame .tableRight .unExpired .couponRules {
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #fb570b;
  margin-bottom: 15px;
}
.tableFrame .tableRight .unExpired .couponRules:hover {
  border: 1px solid #fc8f05;
  background-color: #fc8f05;
}
.tableFrame .tableRight .unExpired .btnAll {
  background-color: #fc8f05;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 70px;
  height: 45px;
}
.tableFrame .tableRight .unExpired .btnAll:hover {
  background-color: hsl(34deg, 98%, 55%);
}
.tableFrame .tableRight .unExpired .menuBar {
  font-size: 40px;
  color: #fb570b;
  margin-bottom: 10px;
}
.tableFrame .tableRight .unExpiredCoupon {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
}
.tableFrame .tableRight .unExpiredCoupon .Coupon1 {
  width: 600px;
  height: 180px;
  background-color: black;
  display: flex;
  margin-bottom: 30px;
}
.tableFrame .tableRight .unExpiredCoupon .Coupon1 .CouponLeft {
  width: 30%;
  height: 100%;
  border-right: 2px solid white;
}
.tableFrame .tableRight .unExpiredCoupon .Coupon1 .CouponLeft .CouponIcon {
  width: 100%;
}
.tableFrame .tableRight .unExpiredCoupon .Coupon1 .CouponLeft .CouponIcon .shoppingIcon {
  color: white;
  font-size: 100px;
  width: 100%;
}
.tableFrame .tableRight .unExpiredCoupon .Coupon1 .CouponLeft .CouponContent {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #fb570b;
  padding-bottom: 15px;
}
.tableFrame .tableRight .unExpiredCoupon .Coupon1 .CouponRight {
  width: 70%;
}
.tableFrame .tableRight .unExpiredCoupon .Coupon1 .CouponRight .CouponUp {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.tableFrame .tableRight .unExpiredCoupon .Coupon1 .CouponRight .CouponUp .discount {
  color: #fb570b;
  font-size: 40px;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 20px;
}
.tableFrame .tableRight .unExpiredCoupon .Coupon1 .CouponRight .CouponDown {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.tableFrame .tableRight .unExpiredCoupon .Coupon1 .CouponRight .CouponDown .date {
  color: white;
  font-weight: bold;
  font-size: 20px;
  align-self: center;
  padding-left: 20px;
}

.Titlerules {
  font-size: 30px !important;
  font: bold;
}
.Titlerules span {
  color: #fb570b;
}

.Bodyrules {
  line-height: 40px;
}
.Bodyrules span {
  color: #fb570b;
}

.paginationUl {
  width: 100%;
  padding-left: 0;
}

@media screen and (min-width: 430px) and (max-width: 650px) {
  .tableFrame {
    display: block;
  }
  .tableFrame .tableLeft {
    width: 100% !important;
    padding-top: 0px;
  }
  .tableFrame .tableLeft ul {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .tableFrame .tableLeft ul li .btnLink {
    padding: 5px 9px !important;
    font-size: 18px !important;
    background-color: white !important;
  }
  .tableFrame .tableLeft ul li .btnLink:hover {
    background-color: #fc8f05 !important;
  }
  .tableFrame .tableLeft ul li .btnLink .btnClick {
    background-color: #fc8f05 !important;
  }
  .tableFrame .unExpiredCoupon {
    padding: 30px 5px !important;
  }
  .tableFrame .unExpiredCoupon .Coupon1 {
    width: 350px !important;
    margin: 30px auto !important;
    height: 150px !important;
  }
  .tableFrame .unExpiredCoupon .Coupon1 .CouponLeft .CouponIcon {
    width: 100%;
  }
  .tableFrame .unExpiredCoupon .Coupon1 .CouponLeft .CouponIcon .shoppingIcon {
    font-size: 75px !important;
  }
  .tableFrame .unExpiredCoupon .Coupon1 .CouponLeft .CouponContent {
    font-size: 18px !important;
  }
  .tableFrame .unExpiredCoupon .Coupon1 .CouponRight {
    width: 70%;
  }
  .tableFrame .unExpiredCoupon .Coupon1 .CouponRight .CouponUp .discount {
    font-size: 26px !important;
  }
  .tableFrame .unExpiredCoupon .Coupon1 .CouponRight .CouponDown .date {
    font-size: 15px !important;
  }
  .tableFrame .unExpiredCoupon .Coupon1 .CouponRight .CouponDown .rules {
    font-size: 13px !important;
    padding: 20px !important;
  }
}
@media screen and (min-width: 651px) and (max-width: 800px) {
  .Coupon1 {
    width: 500px !important;
  }
}
@media screen and (min-width: 880px) and (max-width: 1200px) {
  .Coupon1 {
    width: 500px !important;
  }
}/*# sourceMappingURL=coupon.css.map */